*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

html {
  font-size: 62.5%;
}
:root {
  --color-bg: #1f1f38;
  --color-bg-varient: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-varient: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
}

body {
  background: var(--color-bg);
  font-family: sans-serif;
}
